[tool.poetry]
name = "pyblu"
version = "0.1.0"
description = ""
authors = ["Louis Christ <mail@louischrist.de>"]
repository = "https://github.com/LouisChrist/pyblu"
license = "MIT"
readme = "README.md"
packages = [
    { include = "pyblu", from = "src" },
]

[tool.poetry.dependencies]
python = "^3.11"
xmltodict = "^0.13.0"
aiohttp = "^3.9.3"

[tool.poetry.group.dev.dependencies]
pylint = "^3.1.0"
black = "^24.2.0"
pytest = "^8.1.1"
aioresponses = "^0.7.6"
pytest-asyncio = "^0.23.5.post1"
sphinx = "^7.2.6"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pylint."messages control"]
disable = [
    "missing-function-docstring",
    "missing-module-docstring",
    "missing-class-docstring",
    "too-many-instance-attributes",
]

[tool.pylint.format]
max-line-length = 160

[tool.black]
line-length = 160

[tool.pytest.ini_options]
pythonpath = "src"
asyncio_mode = "auto"
